*,
*::before,
*::after {
 box-sizing: border-box;
}


body {
    font-family: Roboto, sans-serif; 
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
  }


  a {
    color: rgb(0, 0, 0);  
    text-decoration: none;
    
    }


    ul {
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
    }


    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    
    h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
  }


  section {
    padding-top: 96px;
    padding-bottom: 96px;
  }


   .container { 
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    }


    /*header*/


    .hed-nav{    
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    }


    .head-container {
      Height: 56px;
      display: flex;
      align-items: center;
    }


    .head-contant {
      display: flex;
      align-items: center;
    }

    
    .logo {
      color: #4D5AE5;
      font-size: 18px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      line-height: 1.17;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
      text-align: left;
      
        
    }

    .button-size {
      position: absolute;
    
    right: 0;
    transform: translateY(-50%);
      
      border: none;
      background-color: transparent;
    }


    .studio-header {
      color: #2e2f42;
    }


    .contacts-hed {
      display: none;
      
      gap: 40px; 
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .hed-list {
      display: block;
      color: #2e2f42;
      font-weight: 500;
      letter-spacing: 0.32px;
      line-height: 1.5;
      padding: 24px 0;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .special-text {
      color: #404BBF;
     display: flex;  
     position: relative;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .special-text::after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 4px;
      background-color: #404bbf;
      border-radius: 2px;
    }
    

    .contacts {
      font-style: normal;
      margin-left: auto; 
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: none;  
    }


    .comtacts-list {
      display: flex;
      gap: 40px;
      color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 

    .contacts-addres {
      color: #434455;
      letter-spacing: 0.02em;
      line-height: 1.5;
      padding: 24px 0;
      transition: color 250ms cubic-bezier (0.4, 0, 0.2, 1);
     }


    .link-contacts {     
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
  
     
    .hed-list:focus, .hed-list:hover, .hed-list:active {
      color: #404bbf;      
    }


    .link-contacts:hover, .link-contacts:focus, .link-contacts:active {
      color: #404BBF;
    }

   

    /*menu-mobil*/

    

    .mob-menu {
     
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #ffffff;
      

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      overflow: auto;
    }

    .mob-menu-elastik {
      position: relative;
      max-width: 320px;
      height: 100%;
      margin: 0 auto;
      padding: 72px 16px 40px 16px;
      display: flex;
      flex-direction: column;
    }

    .button-menu-close {
      background-color: transparent;
      border: none;
      color: #2E2F42;
      margin-left: auto;
      
      display: block;
      position: absolute;
      top: 24px;
      right: 24px;
    }

    .head-contant-mob {
      display: block;
     
    }

    .contacts-hed-mob {
     
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-bottom: auto;
      display: block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hed-list-mob {
      display: block;
      color: #2e2f42;
      font-weight: 700;
      font-size: 36px;
      letter-spacing: 0.02em;
      line-height: 1.11;
      padding: 20px 0;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-hed-mob {
      
    }

    .special-text-mob {
      color: #404BBF;
     display: flex; 
      
     position: relative;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-mob {
      font-style: normal;
      
      margin-top: auto; 
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .comtacts-list-mob {
      display: block;
      margin-bottom: 40px;
      color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-addres-mob {
      color: #434455;
      letter-spacing: 0.02em;
      line-height: 1.2;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
      width: 193px;
      height: 24px;
 
      padding: 24px 0;
      transition: color 250ms cubic-bezier (0.4, 0, 0.2, 1);
    }

    .link-contactss-mob {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-contacts-mobil {
      color: #4D5AE5;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2; 
      letter-spacing: 0.4px;
    }

    .link-contacts-mobil-com {
      color: #434455;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2; 
      letter-spacing: 0.4px;
    }

    .hed-lists-mob:focus, .hed-list:hover, .hed-list:active {
      color: #404bbf;      
    }


    .link-contactss-mob:hover, .link-contacts:focus, .link-contacts:active {
      color: #404BBF;
    }


    .social-mob {
      display: flex;
      
      gap: 40px;
    }

    .networks-mob {
      width: 40px;
      height: 40px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .icon-link-networks-mob {
      width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-networks-mob {
      fill: #f4f4fd;

    }

    .icon-link-networks-mob:hover {
      background-color: #404BBF;
    }
    
    
    .icon-link-networks-mob:focus {
      background-color: #404bbf;
    }




    /*menu-tablet*/


    @media screen and (min-width: 768px) {

      .head-container {
        padding: 16px;
        height: 72px;
      }


      .hed-icon-burger {
        display: none;
      }

      .contacts {
        display: flex;
      }

      .contacts-hed {
        display: flex;
        margin-left: 120px;
        gap: 40px;
      }

      .comtacts-list {
        display: block;
      }

      .contacts-addres {
        padding: 0;
        color: #434455;
        margin-bottom: 12px;
        width: 118px;
        left: 634px;
        height: 14px;
        top: 42px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.04em;
        text-align: left;

      }
    
      
    }
    
    


    /*menu-disktop*/


    @media screen and (min-width: 1158px) {
    
      .comtacts-list {
        display: flex;
        
      }

      .logo {
        padding-left: 60px;
      }

      .contacts-hed {
        margin-left: 76px;
        display: flex;
      }

      .hed-list {
        
        font-family: Roboto;
        font-size: 16px;
        letter-spacing: 0.02em;
        text-align: left;

      }

      .contacts {
        margin-left: 240px;
      }

      .contacts-addres {
        margin-bottom: 0;
        width: 153px;
        height: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;

      }
      
    }


   

  
     /*main*/
  

     /*section 1*/


     .hero-content {
      background-color: #2E2F42;
      margin: 0 auto;
      min-width: 320px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.mob-min.jpg);
      
      }

      @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero-content {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.mob-2-min.jpg);
        }
      }
    
  
    .hero-title {
      color: #FFFFFF;
      text-align: center;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.02em;
      background-color: transparent;
      line-height: 1.07;
      margin: 0 36px 75px 36px;
         
  }
   
  
  .order-service {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    line-height: 1.5;
    font-family: "Roboto", sans-serif; 
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;   
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  
  .order-service:hover {
   background-color:  #404BBF;  
  }

  
  .order-service:focus {
    background-color: #404BBF;
  }

  
  
  
  
  
  
 
  /*section 2*/

  
  .section-strategy {
    background-color: #FFFFFF; 
    margin: 0 auto;
  }


  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
  }


  .strategy-list {
    display: flex; 
   flex-wrap: wrap; 
    gap: 62px;  
  }


  .strategy-list-li { 
    width: 100%;
  }


  .strategy-icon {
    display: none;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #434455;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
  }


  .icon {
    fill: #4D5AE5;
    fill: #e5e5e5;
    fill: #2f2f37;
  }
 
  
  h2 {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;    
  }


  h3 {
    color: #2E2F42;
    font-family: Roboto;
  }


  .strategy {
    color: #2E2F42;
    font-family: Roboto;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.1;
    text-align: center;
  }
 
  
  .main-p {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
  }



  
 
  
  /*section 3*/


  .our-team {
    background-color: #F4F4FD;
    line-height: 1.11;
    margin-bottom: 72px;
  }


  .imagines {
    background-color: #F4F4FD;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    margin: 0 12px;
  }
 
  
  .imagines-list {
    width: 100%;
    background-color: #FFFFFF;  
    border-radius: 0px 0px 4px 4px;   
  }


  .imagines-list-a {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius:  0px 0px 4px 4px;
    
  }


  .personal-title {
    text-align: center;
    margin-bottom: 8px;
  }


  .personal {
    padding: 32px 0;
    background-color: #FFFFFF;
  }
 
  
  .personal-title {
    line-height: 1.5;
  }


  .main-tres-p {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
  }


  .social {
    display: flex;
    justify-content: center;
    gap: 24px;
  }


  .networks {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }


  .icon-link-networks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
  .icon-networks {
    fill: #f4f4fd;   
  }


.icon-link-networks:hover {
  background-color: #404BBF;
}


.icon-link-networks:focus {
  background-color: #404bbf;
}




  

  /*section Our Portfolio*/


  .imagines-list {
    background-color: #F4F4FD;
  }
  
  

  .title-portfolio {
    line-height: 1.11;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;  
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }


  .container-img-block{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .img-block:hover .producto-over {
    transform: translateY(0%); 
  }


  .img-block:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }


  .img-block {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .block-producto-over {
    position: relative;
    overflow: hidden;
  }

  .producto-over {  
    background-color: #4D5AE5;
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
  }


  .info-block {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  

  .list-portfolio {
    margin-bottom: 8px;
  }
  

  .our-portfolio {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    }



   
  

  /*section footer*/


  .foot-contant {
    background-color: #2E2F42; 
    padding: 100px 0;
    
    /*height: 664px;*/
    top: 6552px;
  
    
    
  }


  .foot-logo-p {
    /*margin-right: 120px;*/
    
  }
  

  .logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    /*margin-bottom: 16px;*/
    text-align: center;
    margin-bottom: 17px;
    /*display: inline-block;*/
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .logo-footer-studio {
    color: #f4f4fd; 
  }
  

  .footer-p {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.02em; 
    line-height: 1.5; 
    width: 264px;  
  }


  .foot {
    display: flex;
    flex-direction: column;
    
    

    
  
  }


  .social-footer {
    margin-top: 72px;
  }

  
  .social-footer-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
    
  }


  .social-footer-content {
    display: flex;
    justify-content: center;
    gap: 16px;
  }


  .foot-networks {
    width: 40px;
    height: 40px;     
  }


  .foot-icon-link-networks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
  }


  .foot-icon-networks {
    fill: #f4f4fd; 
  }


  .foot-icon-link-networks:hover {
    background-color: #31d0aa;
  }


  .foot-icon-link-networks:focus{
    background-color: #31d0aa;
  }



  .foot-form {
    /*margin-left: 80px;*/
    margin-top: 72px;
  }


  .foot-text-form {
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   margin-bottom: 16px;
   text-align: center;
   
  }


  .form {
    /*gap: 24px;*/
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  
  
  .form-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-left: 16px;
    
    margin-bottom: 16px;

  }


  .foot-button {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    line-height: 1.5;
    font-family: "Roboto", sans-serif; 
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    min-width: 165px;
    display: inline-flex;
    margin: auto 61px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .foot-button:hover {
    background-color:  #404BBF;  
   }
 
   
   .foot-button:focus {
     background-color: #404BBF;
   }
 


  .foot-icon-button {
    margin-left: 16px;
    fill: #ffffff;
  }

  /*modal*/


  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
  }

  
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  
  .modal {
    /*width: 408px;
    min-height: 584px;*/
    width: 288px;
    height: 623px;
    
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  
  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  

  .modal-close {
    width: 24px;
    height: 24px;  
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .modal-close:hover,
  .modal-close:focus {
    background-color: #404BBF;
    border: none;
  }


  .modal-close:hover > .modal-close-icon,
  .modal-close:focus > .modal-close-icon {
    fill: #FFFFFF;
  }


  .modal-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    
    color: #2E2F42;
  }
  

  .modal-field {
    margin-bottom: 8px;
  }


  .modal-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
  }


  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .modal-input:focus {
    border-color: #4D5AE5;
  }


  .modal-input:focus + .modal-icon {
    fill: #4D5AE5;
  }


  .modal-input::placeholder {
    font-size: 12px;
    color: #2E2F4266;
  }

  
  .modal-icon {
    position: absolute;
    left: 16px;
    color: #2E2F42;
    top: 50%;
    transform:translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }


  .modal-input-wrap {
    width: 100%;
    height: 40px;
   
    border-radius: 4px;
    outline: transparent; 
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;

    position: relative;
   
    
  }

  .user-comment {
    margin-bottom: 16px;
  }


  .modal-textarea {
    width: 100%;
    height: 120px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    outline: transparent;
    padding-left: 16px;
    padding-top: 8px;
    font-size: 12px;
    color: #2E2F4266;
    transition-duration: 300ms;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .modal-textarea:focus {
    border-color: #4D5AE5;
  }


  .modal-text-privaci {
    
    flex-direction: row;
    margin-bottom: 24px;
    padding-right: 0;
  }


  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  .modal-text {
    font-family: Roboto, sans-serif;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color: #8E8F99;
    
    line-height: 1.17;
    letter-spacing: 0.04em;
    
  }


  .privaci-button {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
  }

  .privaci-modal-icon {
    width: 10px;
    
  }

  .visually-hidden:checked + .modal-text span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
  }


  .privaci-paragraf {
    
    color: #4D5AE5;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    margin-left: 4px;
    line-height: 1.33;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
  }
  
 
  .button-submit-text  {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    line-height: 1.5;
    font-family: "Roboto", sans-serif; 
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 24px;   
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  }



/*media*/



    @media screen and (min-width: 768px) {
    .container { 
     width: 768px;   
       
     
      }

    section {
      padding-top: 96px;
      padding-bottom: 96px;
      }

      

    }





    

  @media screen and (min-width: 1158px) {
    .container {
      width: 1158px;
      padding: 0 15px;
    }

    section {
      padding-top: 120px;
      padding-bottom: 120px;
    
  }
}

  

  /*header*/

  @media screen and (min-width: 768px) {
    
    .contacts-hed {
      
    }
    
  }
  
  
  
  @media screen and (min-width: 1158px) {
    
    
  }






  /*section 1*/

  @media screen and (min-width: 768px) {
    
    .hero-content {
      padding: 112px 0;
      min-width: 768px;
      margin: 0;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.tab-min.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero-content {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.tab-2-min.jpg);
      }
    }

    .hero-title {
      font-size: 56px;
      margin: 0 120px 36px 120px;
     
    }
    
  }
  
  
  
  @media screen and (min-width: 1158px) {
    .hero-content {
      padding: 188px 0;
      min-width: 1158px;
        margin: 0 auto;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero-content {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2.jpg);
      }
    }

    .hero-title {
      font-size: 56px;
      margin: 188px 48px;
      margin: 0 auto;
      margin-bottom: 48px;
      max-width: 496px;
    }
    
  }






/*section 2*/

@media screen and (min-width: 768px) {

 .section-strategy {

}


  .strategy-list {
    column-gap: 24px;
    row-gap: 72px;
    
  }
  
  
  .strategy-list-li { 
   width: calc((100% - 24px) / 2);
    } 


    .strategy {
      text-align: left;
    }
  
  
  
  
}



@media screen and (min-width: 1158px) {
  .section-strategy {
    padding-top: 120px;  
    padding-bottom: 120px;
  }

  .strategy-list {
    gap: 24px;
  }

  .strategy-list-li { 
    width: calc((100% - 72px) / 4);
  }
    .strategy-icon {
      display: flex;
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
      }

      .strategy {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
      }

      .main-p {
        width: 264px;
        height: 72px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
      }
  
}






   /*section 3*/

   @media screen and (min-width: 768px) {
   
    .imagines {
      column-gap: 24px;
      margin-left: 96px;
      row-gap: 64px;
    }
   
   
    .imagines-list-a {
    
   }

   .imagines-list {
   
   }

   

   .personal {
    
   }
  
    
  }
  
  
  
  @media screen and (min-width: 1158px) {
    .imagines {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 24px;
      margin: 0;
      
    }

    
    
  }






   /*section Our Portfolio*/


   @media screen and (min-width: 768px) {
    
  .container-img-block {
    column-gap: 24px;
    row-gap: 72px;
  }

  .img-block {
    width: calc((100% - 24px) / 2);
  }
    
  }
  
  
  
  @media screen and (min-width: 1158px) {
    .portfolio {
       padding-top: 120px; 
       padding-bottom: 120px;
     }

     .container-img-block {
      column-gap: 24px;
     }

     .img-block {
      width: calc((100% - 48px) / 3);
     }
    
  }






   /*section footer*/


   @media screen and (min-width: 768px) {
    
    .foot-contant {
      
      padding: 97px 0;
      
    }

    .foot {
      
      width: 584px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
     justify-content: left;
     
    }

    .logo-footer {
      margin-left: 0;
      text-align: left;
    }

    .footer-p {
      
    }

    .social-footer {
      margin-left: 24px;
      margin-top: 0;
    }

    .foot-form {
      margin-top: 62px;
    }

    .foot-text-form {
      text-align: left;
    }



    .social-footer-text {
      margin-top: 0;
      margin-left: 0;
      text-align: left;
    }

    .foot-text-form {
      margin-left: 0;
      
    }

    .form {
      flex-direction: row;
      align-items: center;
    }

    .form-input {
      margin-left: 0;
    }

    .foot-button {
      margin: 0 0 24px 24px;
    }
  
    
  }
  
  
  
  @media screen and (min-width: 1158px) {
    .foot {
      width: 1158px;
      display: flex;
     
      margin-left: auto;
    
  }

  .foot-contant {
    padding: 86px 0 86px 0;
  }

  .social-footer {
    margin-left: 96px;
  }

  .foot-form {
    margin-left: 80px;
    margin-top: 0;
  }

 }






    /*modal*/

/*
    @media screen and (min-width: 768px) {
      .modal {
        width: 408px;
        height: 584px;
      }

    
      
    }
    
    
    
    @media screen and (min-width: 1158px) {
    
      
      
    }
*/


 






  
  

  
